.headBar {
    background-color: #ed002d;
    width: 100%;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5000005;
}

.social-sites{
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
    margin-left: auto;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages{
    display: none;
}
.pages a {
    cursor: pointer;
}
.dropdown-menu {
    display: none; /* Nascondi il menu a discesa per impostazione predefinita */
    position: absolute;
    background-color: white; /* Colore di sfondo del menu a discesa */
    list-style: none;
    padding: 10px;
    z-index: 1;
    top: 65.5px;
    border: 1px solid #e0e0e0;
    left: 0;
}

.pages:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block; /* Mostra il menu a discesa quando si passa il mouse sopra l'elemento con la classe 'pages' o quando si passa il mouse sul menu stesso */
}

.dropdown-menu li {
    padding: 5px 0;
}
.dropdown-menu li a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2c2c2c;
    height: auto;
    padding: 15px 0;
    text-transform: none;
    white-space: nowrap;
}
.secondary {
    clear: both;
    background: #fff;
    color: #626262;
    height: 42px;
    left: 0;
    line-height: 1.5;
    position: fixed;
    top: 100px;
    transition: top 225ms linear;
    width: 100%;
    z-index: 5000003;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.secondary section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.secondary nav {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.secondary ul {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nasconde le barre di scorrimento */
.secondary ul::-webkit-scrollbar {
    display: none;
}
.secondary li {
    display: inline-block;
}
.secondary a {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #141414;
    display: block;
    font-weight: 700;
    height: 36px;
    padding: 11px 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

#logo{
    background: url(media/100x50.svg) center/contain no-repeat;;
    height: 50px;
    width: 101.5625px;
    background-size: 100% 100%;
    left: 15px;
    display: block;
    overflow: hidden;
    position: relative;
}
#twitter{
    background: url(media/twitter.png) center/contain no-repeat;;
    display: block;
    width: 30px; /* Aggiungi la larghezza alle icone social */
    height: 30px; /* Aggiungi l'altezza alle icone social */
    margin-left: 7px; /* Aggiungi margine sinistro alle icone social */
}
#instagram{
    background: url(media/instagram.png) center/contain no-repeat;;
    display: block;
    width: 30px; /* Aggiungi la larghezza alle icone social */
    height: 30px; /* Aggiungi l'altezza alle icone social */
    margin-left: 7px; /* Aggiungi margine sinistro alle icone social */
}
#facebook{
    background: url(media/facebook.png) center/contain no-repeat;;
    display: block;
    width: 30px; /* Aggiungi la larghezza alle icone social */
    height: 30px; /* Aggiungi l'altezza alle icone social */
    margin-left: 7px; /* Aggiungi margine sinistro alle icone social */
}
#search{
    background: url(media/search.png) center/contain no-repeat;;
    display: block;
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}
#login{
    background: url(media/login.png) center/contain no-repeat;;
    display: block;
    height: 60px;
    width: 80px;
    background-size: 105% 105%;
    position: relative;
    cursor: pointer;
}
#takeover {
    background: white;
    transition: top 225ms linear;
    height: 45px;
    left: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 5000004;
}
@media screen and (max-width: 700px) {
    .headBar{
         height: 50px;
    }
    .social-sites {
        display: none;
    }
    #search{
       margin-left: auto;
   }
   #logo{
       left : 0;
       height: 40px;
       width: 81.25px

   }
   #login{
       height: 50px;
       width: 70px;
   }
}
@media (min-width: 1011px) { /*si attiva quando è almeno tot px*/
    .pages {
        display: inline;
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 400;
        box-sizing: border-box;
        font-weight: 600;
        height: 100px;
        padding: 29px 8px 30px;
    }
}
@media (max-width: 1230px){
    #partnerStories{
        display: none;
    }
}
@media (max-width: 1120px){
    #lifeAndStyle{
        display: none;
    }
}
@media (min-width: 728px) {
    #takeover {
        top: 60px;
    }
}
@media (min-width: 1024px) {
    .secondary a {
        color: #626262;
        font-size: 12px;
        font-weight: 400;
        height: 30px;
        padding-top: 5px;
    }
    .secondary a:hover {
        text-decoration: underline; /* Aggiunge una sottolineatura al passaggio del mouse */
        cursor: pointer; /* Cambia il cursore in una mano */
    }
    .secondary section{
        display: flex;
        justify-content: center;
    }
}
img {
    max-width: 100%;
    height: auto; /* Per mantenere le proporzioni originali dell'immagine */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top:165px;
    max-width:1200px;
    margin: 0 auto;
    grid-gap: 30px 30px ;
}
@media screen and (max-width: 1300px) {
    .wrapper {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.mainNews{
    grid-column: 1/5;
    background: #2c2c2c;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
@media screen and (min-width: 1069px) {
.hamburger{
    display: none;
}}
.hamburger{
    margin-left: 10px;
}
@media screen and (max-width: 700px) {
    .hamburger {
        margin-left: 0;
    }
    .wrapper{
        margin-left: 0;
        margin-right: 0;
    }
}
.container-social-sites{
    margin-left: auto;
    margin-right: 15px;
}
.description{
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #979797;
    font-weight: 400;
    margin: 0 12px 18px;
    text-align: center;
    font-size: clamp(18px, 1.5vw, 24px);
}
.headline{
    position: relative;
    font-family: "Signika Negative";
    color: white;
    font-weight: 700;
    margin: 0 12px 18px;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: clamp(24px, 3vw, 38px);
}
.bookmark{
    position: relative;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: fit-content;
    margin-left: auto;
    padding: 10px 0 10px 16px;
    width: fit-content;
}
.bookmark a{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px 0 auto;
    font-family: "Open Sans", sans-serif ;
}
.mainNews div:nth-child(1) img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 900px) {
    .description{
        text-align: left;
    }
    .headline{
        text-align: left;
        align-items: center;
        display: flex;
    }
}
.mainNews div:nth-child(1) {
    height: 70%;
}
.mainNews div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid red;
    box-sizing: border-box;
}
.mainNews div:nth-child(2) {
    height: 16%;
    overflow: hidden;
}
.mainNews div:nth-child(3) {
    height: 7%;
    overflow: hidden;
}
.mainNews div:nth-child(4) {
    height: 7%;
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    .mainNews div:nth-child(1) {
        height: auto;
    }
    .mainNews div:nth-child(2) {
        height: auto;
    }
    .mainNews div:nth-child(3) {
        height: auto;
    }
    .mainNews div:nth-child(4) {
        height: auto;
    }
}
@media screen and (max-width: 900px) {
    .wrapper {
        max-width: 100%;
    }
}
body {
    margin: 0;
    padding: 0;
}
.wrapper > div img {
    width: 100%;
    height: auto;
}
.wrapper > div {
    width: 100%;
    height: auto;
}
.news{
    background: white;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    grid-column: auto;
}
.news .info-container {
    margin-top: auto;
}
.news > .container2-large-news > div > a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.news .bookmark a {
    color: #141414;
}
.label{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #979797;
}
.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: auto;
}
.label-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.comments-count{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}
.vertical-line {
    border-left: 2px solid #979797; /* Cambia il colore come necessario */
    height: 60%;
    margin-left: 4px;
    padding: 0;
}
.comments-count .label {
    margin-left: 3px;
    font-size: 12px;
}
.second-main-news{
    height: auto;
    grid-column: 1/4;
    background: #2c2c2c;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.container-smn{
     display: flex;
     flex-direction: column;
 }
.second-main-news .container-smn {
    flex: 0 0 30%;
}
.second-main-news img {
    display: block; /* Rende l'immagine un blocco di livello */
    flex: 0 0 70%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.headline-smn{
    position: relative;
    font-family: "Signika Negative";
    color: white;
    font-weight: 700;
    margin: 10px 12px 18px;
    text-align: left;
    align-items: center;
    display: flex;
    font-size: clamp(1vw, 2vw, 24px);
}
.description-smn{
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #979797;
    margin: 0 12px 18px;
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.second-main-news .bookmark {
    margin:0 12px 18px;
    padding: 0;
}

.small-news-column{
    display: flex;
    flex-direction: column;
    grid-row: 3/6;
    grid-column: 4;
    width: 100%;
    border-left: 1.5px solid #e0e0e0;
}
.small-news{
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1.5px solid #e0e0e0;
    margin-left: 30px;
    cursor: pointer;
}
.small-news:first-child {
    border-top: none; /* Rimuovi la barra superiore dalla prima notizia */
}
.headline-snc {
    color: #141414;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13.5px;
    flex-grow: 1;
}

.container-small-news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.small-news .bookmark a {
    color: #141414;
}
.container-small-news img {
    width: auto;
    height: auto;
}
.container-small-news > div:first-child {
    flex: 0 0 55%;
    margin-right: 10px; /* Aggiungi un margine a destra del div che contiene l'immagine */
}
.container-large-news{
    display: flex;
    grid-column: 1/4;
    grid-row: auto;
}
.large-news{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 30px;
    cursor: pointer;
}
.large-news:last-child {
    margin-right: 0;
}
.large-news > .container2-large-news > div > a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.large-news .bookmark a {
    color: #141414;
}

@media screen and (max-width: 1050px) {
    .second-main-news{
        grid-column: 1/5;
    }
   .container-large-news{
        grid-column: 1/5;
    }
   .container-small-news{
       flex-direction: column;
   }
    .small-news-column{
        grid-row: auto;
        grid-column: 1/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        border-left: none;
    }
    .small-news{
         display: flex;
         flex-direction: column;
         cursor: pointer;
         padding-top: 0;
         padding-bottom: 0;
         border-top: none;
         margin-left: 0;
     }
    .container-small-news > div:first-child {
        margin-right: 0;
    }
    .headline-snc {
        font-size: 16px;
    }
    .news > .container2-large-news > div > a {
        font-size: 14px;
    }
}
@media screen and (min-width: 1051px) {
    .small-news > .info-container > .label-container {
        display: none;
    }
}
.container2-large-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
@media screen and (max-width: 728px){
    .container2-large-news{
          flex-direction: row;
    }
    .news{
        grid-column: 1/5;
        padding: 10px 0 10px 10px;
        width: 100%;
    }
    .second-main-news {
        grid-row: auto;
    }
    .container-large-news{
        flex-direction: column;
    }
    .large-news{
        width: 100%;
        padding: 10px 0 10px 10px;
    }
    .container2-large-news >div:first-child{
        margin-right: 10px;
        flex: 0 0 30%;
    }
    .wrapper {
        grid-row-gap: 0;
    }
    .small-news-column{
        padding: 0;
        display: flex;
        grid-row-gap: 0;
        margin-right: 0;
    }
    .small-news{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0;
        margin-top: 10px;
    }
    .container-small-news{
        flex-direction: row;
    }
    .container-small-news > div:first-child {
        flex: 0 0 30%;
        margin-right: 10px;
    }
    .news, .large-news, .small-news {
        box-sizing: border-box;
    }
    .second-main-news {
        display: flex;
        flex-direction: column;
    }
    .second-main-news > div:first-child {
        order: 2;
    }
    .second-main-news > div:last-child {
        order: 1;
    }
    .headline-smn{
        font-size: 24px;
    }
    .second-main-news div:nth-child(2) img {
        object-position: center;
        border-bottom: 5px solid red;
    }
}

.footer{
    background-color: #141414;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 10px;
}
.footer-section{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-top: 45px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-section a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer-social{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-social a{
    cursor: pointer;
}
.social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-container > div:not(:last-child) {
    margin-right: 10px;
}
.footer-kitemarks{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.footer-kitemarks a{
    cursor: pointer;
}
.footer-kitemarks a:first-child {
    margin-right: 10px;
}
.footer-links{
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.footer .footer-links ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding-left: 0;
}

.footer .footer-links ul li {
    color: #979797;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    cursor: pointer;
    border-right: 1px solid #2c2c2c;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 0;
}
.footer .footer-links ul li:last-child {
    border-right: none;
}
.footer > div:not(:first-child) {
    border-top: 4px solid #2c2c2c;
}
.footer > div {
    width: 85%;
    margin: auto;
}
.footer .footer-links ul li:hover{
    cursor: pointer;
    color: white;
}



